#responsive-navbar-nav,
.dropdown-menu {
  text-align: center !important;
}
.vote-card{
  width: 18rem;
}
.hero-text {
  font-size: 1.2rem;
}
.bg-blue{
  background-color: #078fff !important;
}
footer{
  background-color: #f7f7ff;
  color: #003963;

}

.button-blue{
  background-color: #003963;
  color: #f7f7f7;
  height: 3rem;
  width: 10rem;
  border-radius: 25px;
  border: none;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.button-white{
  background-color: #f7f7ff;
  color: #003963;
  height: 3rem;
  width: 10rem;
  border-radius: 25px;
  border: 3px solid #003963;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.footer-head{
  display: flex;
  justify-content: space-around;
}

@media (max-width: 1024px) {
  .hero-text {
    font-size: 1.1rem;
  }
  .vote-card{
    width: 16rem;
  }
}
@media (max-width: 768px) {
  .hero-text {
    font-size: 0.9rem;
  }
  .vote-card{
    width: 18rem;
  }
}
@media (max-width: 500px) {
  .vote-card{
    width: 25rem;
  }
  .hero-text {
    font-size: 0.7rem;
  }
}

