#responsive-navbar-nav,
.dropdown-menu {
  text-align: center !important;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;

.dispaly-card {
  margin-left: 3em;
}
.hero-content {
  margin-left: 5em;
}

.hero-content p {
  font-size: 1.2rem;
}
.blog-heading {
  padding-top: 2em;
  text-align: left;
  margin-left: 3em;
}
.image1 {
  width: 250px;
  height: 200px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.berry1{
  background-color: white;
  border: 1px solid grey;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 250px;
  height: 300px;
  cursor: pointer;
}
.text1{
  font-size: 0.9rem;
}

@media (max-width: 500px) {
  .hero-content p {
    font-size: 0.9rem;
  }
}



.App-header {
  background-color: #0059a4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */




.bg-blue{
  background-color: #078fff !important;
}
footer{
  background-color: #f7f7ff;
  color: #003963;

}

.button-blue{
  background-color: #0059a4;
  color: #f7f7f7;
  height: 3rem;
  width: 10rem;
  border-radius: 25px;
  border: none;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.button-white{
  background-color: #f7f7ff;
  color: #003963;
  height: 3rem;
  width: 10rem;
  border-radius: 25px;
  border: 3px solid #003963;
  margin: 1rem 0;
  font-size: 1.3rem;
}

.footer-head{
  display: flex;
  justify-content: space-around;
}


@media (max-width: 1024px){
  .img-size-sm{
    width:500px !important;
  }
}

@media (max-width: 768px){
  .img-size-sm{
    width:370px !important;
    margin-right: 70px !important;
  }
}

@media (max-width: 425px){
  .img-size-sm{
    width:370px !important;
    right: 25px !important;
  }
}

@media (max-width: 375px){
  .img-size-sm{
    width:330px !important;
    right: 27px !important;
  }
}

@media (max-width: 320px){
  .img-size-sm{
    width:280px !important;
    right: 30px !important;
  }
}

